snippet load3
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/gsn_code.ncl"
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/gsn_csm.ncl"
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/contributed.ncl"
snippet load4
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/gsn_code.ncl"
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/gsn_csm.ncl"
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/contributed.ncl"
	load "$NCARG_ROOT/lib/ncarg/nclscripts/csm/shea_util.ncl"
snippet beg
	begin

	    ${1:start_here}

	end
snippet openwks
	wks = gsn_open_wks("${1:pdf}", "${2:figure}")
snippet plot_xy
	${1:plot} = gsn_csm_xy(wks, ${2:x}, ${3:y}, ${4:res})
snippet colormap_amwg256
	amwg256
snippet colormap_WhiteBlueGreenYellowRed
	WhiteBlueGreenYellowRed
snippet colormap_WhBlGrYeRe
	WhBlGrYeRe
